name: Deploy Backend to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 43.205.255.144
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd Telemedicine/backend
            git pull
            npm install
            pm2 restart server
